<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html,charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="apple-touch-icon" href="http://static.fuzong.wang/favicon.ico">
    <link rel="icon" href="http://static.fuzong.wang/favicon.ico">
    <%= htmlWebpackPlugin.options.loading.css %>
    <title>首页</title>
  </head>
  <body>
    <div id="app"><%= htmlWebpackPlugin.options.loading.html %></div>
  </body>
</html>